modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
NEXTAUTH_SECRET = "C0XJ8F1U3SL2HTKCPrweiWVMY85PBNCQcKAIvx7+AaU="
NEXTAUTH_URL = "https://b696fcda-74d9-4398-9d0c-aaef05d1ec96-00-1hfd6v06hr4dm.worf.replit.dev"

[userenv.shared]
ADMIN_SECRET = "CoachConnect2026!"

[userenv.production]
NEXTAUTH_URL = "https://b696fcda-74d9-4398-9d0c-aaef05d1ec96-00-1hfd6v06hr4dm.worf.replit.dev"
NEXTAUTH_SECRET = "JI2CxjYwQAJQL7CerAk/ByEtxwGmvdrSgmVW1dckHcA="

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
